.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    margin: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.book-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 16px;
}

.book-title {
    text-align: center;
    justify-content: flex;
}

.book-information {
    margin: 20px 0px;
}

.book-information p {
    margin: 0;
}

.cover-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .book-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}