.user-book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 16px;
}

.user-book-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-book-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 16px;
    height: 400px;
    width: 250px;
}

.user-book-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-cover-image {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.user-book-information {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0;
}

.user-book-information p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

@media (max-width: 1300px) {
    .user-book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1048px) {
    .user-book-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
