.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #20B2AA;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 32px;
  right: 0;
  list-style: none;
}

.profile-dropdown-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}